body{
  background-color: slategray;
}

#headline{
  color: white;
}

.exCard{
  background-color: purple;
  max-width: 20%;
  padding: 1%;
  color: white;
}

.exCard img{
  max-width: 90%;
}

.exDiv{
  margin: 1%;
}

.locationCard{
  height: 460px;
  margin-top: 2%;
}

.locationCard .thumbnail{
  height: 459px;
  padding-top: 3%;
}

